NODE_ENV="development" # development or production

HOST=localhost
PORT=3000

MONGO_DB_URI=mongodb://localhost
MONGO_DB_NAME=todos # optional, can be directly passed in uri

REDIS_URI=redis://localhost

ACCESS_TOKEN_TTL=15m # will be processed using vercel/ms
ACCESS_TOKEN_SECRET="YOUR_SECRET_KEY" # can be generated using `openssl rand -base64 32`

REFRESH_TOKEN_TTL=30d # will be processed using vercel/ms
REFRESH_TOKEN_SECRET="YOUR_SECRET_KEY" # can be generated using `openssl rand -base64 32`